@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Water+Brush&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
nav a:hover{
    background-color:white;
}
#background {
    height: 725px;
    background-color: cadetblue;
    margin: 90px;
}
.book, .join{
    background-color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    color: black;
    border-radius: 50px;
}
.book:hover, .join:hover{
    background-color: red;
}
.msg{
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
    margin: 80px;
}
.msg p {
    font-size:.8em ;
    padding-bottom: 15px;
}

footer{
    background-color:mediumslateblue;
    padding: 25px 50px;
    margin-top: 200px;
    height: 300;
    margin: 90px;
}
.mountains{
    height: 300;
    margin-top: 200px;
    margin: 90px;
}
header{
    background-color:gray;
}
body{
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.logo{
    width: 80px;
}
footer a{
    text-decoration: none;
}
footer h3 a:hover{
    text-decoration: none;
}
.home-title {
    font-family: "Water Brush&display=swa", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    font-family:"Roboto";
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img {
    border: 10px solid #bc7f2e;
}
main section img {
    box-sizing: border-box;
}